*{
margin: 0;
padding: 0;
}
body{

height: 800px;
position: relative;
/* height: 1200px; */
background-image: url('skulls.png'),linear-gradient(to right,#A788A8, #6F3C89, #306493,#1B2B42) ;

}
.nav {
width: 100%;
height: 70px;
background: #2d3436
}
.header
{
width: 100%;
height: 500px;
background: #6c5ce7;
/* margin-top: 50px; */
opacity: 0.7;
margin:0 auto;
position: relative;
/* top: 30px; */
visibility: hidden;

}


/* .skills {
text-align: right;
padding-top: 10px;
padding-bottom: 10px;
color: white;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}


.digital{
float: right;
width: 40%;
} */

/*----------------------------------------------CV---------------------------------------*/
.cv{
display: grid;
grid-template-areas: 
"info back"
"experience skills";
width: 90%;
margin: 0 auto;
position: relative;
top: 80px;
left: 50px;
height: 25px;
/* background-color: #00b894 */

}

.info{
grid-area: info;
width: 80%;
height: 175px;
/* background-color: #74b9ff; */
position: relative;
bottom: 30px;
}
.back{
grid-area: back;
width: 80%;
height: 175px;
/* background-color: #74b9ff; */
position: relative;
bottom: 30px;

}
.experience{
grid-area: experience;
width: 80%;
height: 175px;
/* background-color:  #0984e3; */
position: relative;
top: 40px;


}
.skills{
grid-area: skills;
width: 80%;
position: relative;
top: 40px;
/* background-color:  #0984e3; */
height: 175px;

}
.cv p {
    text-align: justify;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: black;
    font-weight: bold;
    color: #ecf0f1;
    text-shadow: 2px 2px black;
    /* font-family: Arial, Helvetica, sans-serif;   */
}
.cv h3 {
    border-bottom: 2px solid #9b59b6;
    color: white;
    position: relative;
    bottom: 10px;
    line-height: 25px;
    font-size: 20px;
    font-family: Lobster, monospace;
}
#cv{
    background-image: linear-gradient(to right,#6F1E51,#1B1464);
    -moz-background-image: linear-gradient(to right,#6F1E51,#1B1464);
    width: 90%;
    height: 500px;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
    box-shadow: 1px 2px 8px 7px ;
   -moz-box-shadow: 1px 2px 8px 7px ;
}
